[Desktop Entry]
Name=Game Icon Fixer
Comment=Fix missing or incorrect Wayland WMClass groupings for your Steam and Faugus games
Exec=game-icon-fixer
Icon=com.github.adityahebballe.GameIconFixer
Terminal=false
Type=Application
Categories=Utility;Settings;
StartupNotify=true
